.header--container0{
  height: 110px;
  width: 100%;
}
.header--container1{
  height: 110px;
  width: 100%;
  background-color: #EFB87B;
}
.header--container2{
  height: 110px;
  width: 100%;
  background-color: #F77B72;
}
.header--container3{
  height: 110px;
  width: 100%;
  background-color: #894645;
}
.header--container4{
  height: 50px;
  width: 100%;
  background-color: #603B5E;
}
#principal{
  background:#223f6d;
  text-align:center;
  color:white;
}

#principal .partido{
  margin: 85px 25px 0px 0px;
}

.header-img{
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border:6px solid #ddd;
  background-color:#666;
  margin:0 auto;
  position:relative;
  top:60px;
}

.line-img{
  width:5px;
  z-index: -1;
  height:700px;
  margin:0 auto;
  position:relative;
  background-color:#ddd;
}

.header--name{
  color: #fff;
  text-align: center;
  font-family: 'Lato', sans-serif !important;
  font-size: 18px !important;
  color: #fff !important;
  font-weight: 700 !important;
}
.header--team{
  color: #fff;
  text-align: center;
  font-family: 'Lato', sans-serif !important;
  font-size: 18px !important;
  color: #fff !important;
  font-weight: 700 !important;
}
