.header--container0{
  height: 110px;
  width: 100%;
}
.header--container1{
  height: 110px;
  width: 100%;
  background-color: #EFB87B;
}
.header--container2{
  height: 110px;
  width: 100%;
  background-color: #F77B72;
}
.header--container3{
  height: 110px;
  width: 100%;
  background-color: #894645;
}
.header--container4{
  height: 110px;
  width: 100%;
  background-color: #603B5E;
}
.header--img{
  width: 90px;
  height: 90px;
  border: 10px solid #c8c8c8;
  border-radius: 50%;
  margin-left: 110px;
  margin-top: 40px;
}
.header--text{
  margin-top: 25px;
}
.header--name{
  color: #fff;
  font-size: 30px;
  font-weight: 200;
}
.header--team{
  color: #fff;
  font-size: 20px;
  font-weight: 200;
}
