.timeline--container{
  margin-top: 10px;
  background-color: #fff;
  height: 400px;
}

.main-title-border {
  border: 1px solid #ccc;
  background-color: #ccc;
  height: 400px;
  width: 6px;
  margin-left:48%;
}
