.timeline--container{
  margin-top: 10px;
  background-color: #fff;
  height: 400px;
}

.main-title-border {
  border: 5px solid #ccc;
  height: 350px;
  width: 6px;
  margin: 50%;
}

.header--img{
  margin: 40%;
}
