body {
  background-color: #223f6d;
  font-family: 'Lato', sans-serif !important;
  font-size: 1.5em !important;
  color: #fff !important;
  font-weight: bold !important;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.camera{
  background-color: #fff;
  height: 300px;
}
.camera--img{
  position: absolute;
  width: 150px;
  height: 150px;
  margin: 80px 0 0 80px;
}
.instruction{
  position: relative;
  margin-top: 20px;
}
.instruction--text{
  height: 80px;
  color: #fff;
  text-align: center;
  font-family: 'Lato', sans-serif !important;
  font-size: 20px !important;
  color: #fff !important;
  font-weight: 700 !important;
}

  .introduction--text{
    height: 80px;
    color: #fff;
    text-align: center;
    font-family: 'Lato', sans-serif !important;
    font-size: 18px !important;
    color: #fff !important;
    font-weight: 400 !important;
}
.gotolist{
  margin-top: 40px;
  background-color: #60bfec;
  height: 40px;
}
