.item--container0{
  height: 110px;
  width: 100%;
}
.item--container1{
  height: 110px;
  width: 100%;
  background-color: #EFB87B;
}
.item--container2{
  height: 110px;
  width: 100%;
  background-color: #F77B72;
}
.item--container3{
  height: 110px;
  width: 100%;
  background-color: #894645;
}
.item--container4{
  height: 110px;
  width: 100%;
  background-color: #603B5E;
}
.item--img{
  width: 60px;
  height: 60px;
  border: 5px solid #fff;
  border-radius: 50%;
  margin-left: 35px;
  margin-top: 20px;
  overflow: hidden;
}
.item--foto{
  max-width: 250%;
  max-height: 250%;
  margin-left: -15px;
  margin-top: -5px;
}
.item--text{
  margin-top: 25px;
}
.item--name{
  color: #fff;
  font-family: 'Lato', sans-serif !important;
  font-size: 16px !important;
  color: #fff !important;
  font-weight: 800 !important;
}
.item--team{
  color: #fff;
  color: #fff;
  font-family: 'Lato', sans-serif !important;
  font-size: 16px !important;
  color: #fff !important;
  font-weight: 800 !important;
}
